body 
{
    font-family:arial;
}

.menuhead
{
    background-color: #017AC3;
    color: White;
    font-weight: bold;
    font-family: arial;
    font-size:small;
}

.button
{
    font-family: arial;
    border:1px outset #017AC3;
    background-color: #017AC3;
    color: White;
	height: 20px;
}

.buttonsmall
{
    font-family: arial;
    font-size:x-small;
    border:1px outset #017AC3;
    background-color: #017AC3;
    color: White;
	height: 15px;
}

.listhead
{
    color:White;
    background-color:#017AC3;
    font-weight:bolder;
    font-family: arial;
    font-size:small;

}
.listheadsmall
{
    color:White;
    background-color:#017AC3;
    font-weight:bolder;
    font-family: arial;
    font-size:x-small;

}
.listitem
{
    font-weight:bold;
    font-family: arial;
    font-size:small;
}
.listitemalt
{
    font-weight:bold;
    font-family: arial;
    font-size:small;
	background-color: #BCD4E5;
}
.lineitem
{
    font-family: arial;
     font-size:small;
    font-weight: bold;
    border-color:Blue;
}

.itemlisthead
{
    font-weight:bold;
    font-family: arial;
    font-size:small;
} 


 .itemlistheadsmall
{
    font-family:Georgia;
    font-size:small;
    font-weight:bold;
} 
.itemlistitem
{
    font-family: arial;
    font-size:small;
    vertical-align:top;
}
.itemlistitemsmall
{
    font-family:Georgia;
    font-size:small;
    vertical-align:top;
}
.itemlistitemalt
{
    font-family: arial;
    font-size: small;
    background-color: #BCD4E5;
}

.itemlistedit
{
    background-color:#FFFF99;
    font-family:Arial;
    font-size: small;
    color:Black;
}

.itemlistheadsmall
{
    font-weight:bold;
    font-family: arial;
    font-size:x-small;
} 

.itemlistitemsmall
{
    font-family: arial;
    font-size:x-small;
    vertical-align:top;
} 

.itemlistitemaltsmall
{
    font-family: arial;
    font-size: x-small;
    background-color: #BCD4E5;
}

.itemlistitemselectsmall
{
    font-family: arial;
    font-size: x-small;
    background-color:Yellow;
}


.errortext
{
    font-family:Arial;
    font-size:large;
    font-weight:bold;
    color:Red;
}
.errortextsmall
{
    font-family:Arial;
    font-size:x-small;
    font-weight:bold;
    color:Red;
}
.leftNav
{
     text-align:left;
     width:150px;
     font-family:Arial CE;
     font-size:x-small;
     font-weight:normal;
     background-color:#017AC3;
     color:White;   
}

.leftNavSub
{
     text-align:left;
     width:130px;
	 text-align:center;
     font-family:Arial;
     font-size:x-small;
     font-weight:normal;
     border-width:thin;
     border-style:inset;
     background-color:#017AC3;
     color:White;   
}

.leftNavEdit
{
     text-align:left;
     font-family:Arial;
     font-size:x-small;
     font-weight:normal;
     font-style:normal;
     background-color:AppWorkspace;
     color:Black;   
}

.masterControls
{
    color:Black;
    background-color:White;
    font-family:Arial;
    font-weight:bold;
    font-size:large;
    border-color:#BCD4E5;
    margin-left:15px;
    margin-top:2px;

    
}
.headLabelSmall
{
     font-family:Arial;
     font-size:small;
     font-weight:bold;
     color:#017AC3;
}
.headLabelMedium
{
     font-family:Arial;
     font-size:medium;
     font-weight:bold;
     color:#017AC3;
}

.headLabelLarge
{
     font-family:Arial;
     font-size:x-large;
     font-weight:bold;
     color:Black;
}

.printRowHead
{
    font-family:Arial;
    font-size:small;
    font-weight:bold;
    border:0px;
    
}
.printRowAlt
{
    font-family: arial;
    font-size: small;
    font-weight:bold;
    background-color:#999999;

}

.framestyle
{
    border-color:#BCD4E5;
}

.rosebudcomment
{
    font-family: arial;
    font-size: small;
    font-weight:bold;
    background-color: #BCD4E5;
}

/* pop out screen classes*/
.blockScreen 
{    
	width: 100%;    
	height: 100%;    
	z-index: 1;    
	display: block;    
	background-color: #CCC;    
	filter: alpha(opacity = 55);    
	opacity:.55;
	
}

.showScreen
{
	position:absolute;
	width:735px;
	height:550px;
	z-index: 2;
	background-color: White;
	border-style:outset;
	border-width:thick;
}
.popouthead
{
    color:White;
    background-color:#017AC3;
    font-weight:bolder;
    font-family: arial;
    font-size:10px;

}
.popoutlist
{
	font-family: arial;
    font-size:11px;
    font-weight:900;
    vertical-align:middle;
    height:16px;
}
.popoutlistalt
{
	font-family: arial;
    font-size:11px;
    font-weight:900;
    vertical-align:middle;
    background-color:#BCD4E5;
    height:16px;
}
    
.noDisplay
{
	display:none;
}